.Search {
    width: 300px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    /*cursor: pointer;*/
    border-color: black;
  }
  .Disp{
  display: flex;
    flex-flow: row wrap;
    margin-left: 16px;
  }
  .Button{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .SearchBarDiv{
    padding:16px;
  }

  .Center{
    margin-left: 16px;
  }