.ExploreCard{
    width: 300px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.RouteLink{
    text-decoration: none;
    color: black;
}